# BIG DIVE Intesa 3
## Python control flow, comprehensions, functions, lambda.
by Stefania Delprete, TOP-IX  
stefania.delprete@top-ix.org 

https://www.linkedin.com/in/astrastefania   
https://twitter.com/astrastefania  

---

# The Style and Zen of Python

Python has its own philosophy and way to be written, it has been created by Guido van Rossum (first released in 1991), and continues to grow as community project thorugh contribution and PEPs (Python Enhancement Proposals).

I encourage you to read these two:  
PEP 8 -- Style Guide for Python Code https://www.python.org/dev/peps/pep-0008  
PEP 20 -- The Zen of Python https://www.python.org/dev/peps/pep-0020

As you should already know **identation in Python is mandatory**, the convention (PEP 8) is four spaces.

In [1]:
!python3 -V

In [2]:
# We will use 'import' different times, it finds a module and initizalize it to let us use it.
# If the module is not part of the standard library we should install the package of interest.

# Here's a little Easter Egg to import the PEP 20
import this

# Types

Let's review the **main built-in types** in Pyhton.  
https://docs.python.org/3/library/stdtypes.html  

They can be immutable (its value can't be changed) or mutable (the value of the same object can be changed)

### Immutable

* int
* float 
* bool 
* str
* tuple

### Mutable

* list
* dictionary
* set

In [3]:
# If in doubt you can check it using the id() function (and use help() any time you need to know more)
help(id)

In [4]:
# Immutables when changed are pointing to a new object

answer = 42
print(id(answer))

answer = answer + 3
print(id(answer))

In [5]:
# Mutables when changed are pointing to the same object

people = ['Paul', 'Richard', 'Brian']
print(id(people))

people.append('Marie')
print(id(people))

## `>>> Let's practice` 
For each built-in type
1. Assign a value to a variable
2. Write a comment if its typt is mutable or immutable 
3. Perform an operation on them (see the first Jupyter Notebook)

---

# Control flow
Let's review now the important control flow structures.  
https://docs.python.org/3/tutorial/controlflow.html

## if statement
`if <condition>:  
    <statement>
elif <condition>: 
    <statement>
else:
    <statement>`

In [6]:
l_nm = 500

if l_nm < 400:
    print('Ultraviolet')
elif l_nm >= 400 and l_nm <= 700:
    print('Visible light')
else:
    print('Infrared')

## while loop

`while <condition>: 
    <statement>`

In [7]:
# Remeber we can use break to stop the cycle

while True:
    print('Write only once')
    if True:
        print('and then stop')
        break

In [8]:
n1, n2 = 1, 1

print('Fibonacci sequence: ')
print(n1)

while n2 < 1000:
    print(n2)
    n1, n2 = n2, n1 + n2

## for loop 

`for <variable> in <sequence>: 
    <statement>`

In [9]:
for letter in 'Statistics':
    print(letter)

In [10]:
libs = {'np': 'NumPy', 'pd': 'Pandas'}

for key in libs: # We can notice that in a dictionary by default it accesses the keys
    print(key)

In [11]:
for key, value in libs.items():
    print(f"{key} is the alias for {value}")

## Iterables 
We'll quickly mention some examples of two useful iterables: `range(start, stop, step)` and `enumerate()`

In [12]:
range(8) # from 0 to 7

range(0, 8)

In [13]:
eight = range(1,9)
list(eight)

[1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
# Range from 1 to 20 with a step of 2 converted in alist
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [15]:
# Enumumerate assigns a number to each element of an object
list(enumerate('ciao'))

[(0, 'c'), (1, 'i'), (2, 'a'), (3, 'o')]

Let's use them in a for cycle

In [16]:
for i in range(1,8):
    print('BIG DIVE ' + str(i))

BIG DIVE 1
BIG DIVE 2
BIG DIVE 3
BIG DIVE 4
BIG DIVE 5
BIG DIVE 6
BIG DIVE 7

In [17]:
for n in enumerate('rainbow'):
    print(n)

(0, 'r')
(1, 'a')
(2, 'i')
(3, 'n')
(4, 'b')
(5, 'o')
(6, 'w')

## `>>> Let's practice` 

1. If statement
   * Take the text of the first tweet on your Twitter feed (or from a random account). 
   * Write an if statement that print 
     * 'short tweet' (less than 50 characters), 
     * 'medium' (between 51 and 100), 
     * long otherwise
2. Write a for loop to print the first 10 words of the previous tweet
3. Same for loop above enumerating the words

---
# List, set and dictionary comprehensions

**List comprehension**, a compact way to process all or part of the elements in a sequence and return a list with the results.  
`[expression for item in list if conditional]`

In [18]:
bitcoins = [1,2,3,0.00002, 5, 100]
euros = [round(btc * 3511.32, 2) for btc in bitcoins]

In [19]:
euros

[3511.32, 7022.64, 10533.96, 0.07, 17556.6, 351132.0]

**Set comprehension**:  
`{expression for item in list if conditional}`

In [20]:
cubes_set = {n**3 for n in range(12)}

In [21]:
cubes_set

{0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331}

**Dictionary comprehensions**  
`{key:value for items in list if conditional}`

In [22]:
tyger = 'Tyger Tyger, burning bright, In the forests of the night'
tyger_words = tyger.split() # by default split() devide for spaces

In [23]:
tyger_dict = {word: len(word) for word in tyger_words}

In [24]:
tyger_dict

{'Tyger': 5,
 'Tyger,': 6,
 'burning': 7,
 'bright,': 7,
 'In': 2,
 'the': 3,
 'forests': 7,
 'of': 2,
 'night': 5}

## `>>> Let's practice` 
1. Write a list comprehension that gives the numbers between 1 and 1111 divisible by 3 or 7
2. Write a set comprehension that gives only the words with less than 5 letter from the quote "The most difficult thing is the decision to act, the rest is merely tenacity."
3. From the same quote above, write a dictionary comprehension with the word as key and the first characther as value

---
# Functions

Wrting functions is an efficient way to avoid repetition in your code. Here's the basic structure:

`def function_name(arg1, arg2):
    <block of code>
    return <function_output>`

Pay attention to the description of your functions when you share your code, such description named **docstring** is written between triple double quote """ just after your function defintion, it could cointain only the purpose of the function or more details about its arguments. It can be used also for methods, classes and modules.  

It becomes a real documentation that can be accessed with the `help()` function.

Here's a guideline in PEP 257 https://www.python.org/dev/peps/pep-0257  
Notice that different open source projects could have their own style, check NumPy for example  
https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt#class-docstring

In [25]:
def good_obs(dataset_name, total_obs, bad_obs=0): # We can set a default value for our arguments
    '''Print the number of the good observations
    
    Parameters
    ----------
    dataset_name : str, name of the dataset
    total_obs : int, total number of observations
    bad_obs : int, number of the wrong or unreadable observations'''
    
    good_obs = total_obs - bad_obs
    return 'The data set "%s" contains %i effective observations.' %(dataset_name, good_obs)

In [26]:
help(good_obs)

Help on function good_obs in module __main__:

good_obs(dataset_name, total_obs, bad_obs=0)
    Print the number of the good observations

    Parameters
    ----------
    dataset_name : str, name of the dataset
    total_obs : int, total number of observations
    bad_obs : int, number of the wrong or unreadable observations

In [27]:
# We can recall out function in different ways

good_obs(dataset_name='UK Credit Scores', total_obs=100000, bad_obs=34)

'The data set "UK Credit Scores" contains 99966 effective observations.'

In [28]:
good_obs('Population Estimates and Projections', 10000000, 834)

'The data set "Population Estimates and Projections" contains 9999166 effective observations.'

In [29]:
# We can change the order id we mention the argument names

good_obs(total_obs=10000000, bad_obs=834, dataset_name='Health Nutrition and Population Statistics')

'The data set "Health Nutrition and Population Statistics" contains 9999166 effective observations.'

In [30]:
def mean(item_list):
    """Find the mean of a list of numbers"""
    mean = sum(item_list) / len(item_list)
    return 'The mean is %.2f' %mean

In [31]:
mean([1,-1,1,-1,1,-1,1,-1,1,-1,1,-1,1,-1])

'The mean is 0.00'

In [32]:
mean([1000,100,10,1,0.1,0.01])

'The mean is 185.18'

In [33]:
# We can also return more the one value using a tuple

import datetime

def year_age(birth_year):
    now = datetime.datetime.now()
    age = now.year - birth_year
    return (birth_year,age)

In [34]:
year_age(2000)

(2000, 19)

In [35]:
byear, age = year_age(1984)
print(byear)
print(age)

1984
35

In [36]:
# Place holder
def function_to_write():
    pass

## Built-in functions

Notice that we already saw some built-in functions like `print()`, `help()`, `dir()`, `split()`...  
Check and practice with the full list here https://docs.python.org/3/library/functions.html

---
## Generators

A function which returns a generator iterator. It looks like a normal function except that it contains yield expressions for producing a series of values usable in a for-loop or retrievable one at a time with the `next()` function.

In [37]:
def gen12():
    """Simple generator"""
    print('Generate one')
    yield 1
    print('Genrate two')
    yield 2

In [38]:
g = gen12()

In [39]:
next(g)

Generate one

1

In [40]:
def countdown(n):
    """Count down generator. n: int"""
    while n > 0:
        yield n 
        n -= 1

In [41]:
for i in countdown(5):
    print(i)

5
4
3
2
1

## `>>> Let's practice` 
1. Given a string, write a function that return the list of the first five words capitalized.
2. Given a string, write a function that return both the mean and the max of the lenght of the first 5 words.
3. Recall both functions for the following strings:
   * "Life is what happens to you while you’re busy making other plans."
   * "Life is 10% what happens to me and 90% of how I react to it."
   * "Whether you think you can or you think you can’t, you’re right."
4. Create a generator using a function yields a number (from 1 to 5) and prints 5 greetings in order of the day.

---
## Lambdas

An **anonymous inline function** consisting of a single expression which is evaluated when the function is called.  
The syntax to create a lambda function is:   
`lambda [parameters]: expression`

In [42]:
# One argument
mod_3 = lambda n: n % 3

In [43]:
mod_3(18)

0

In [44]:
mod_3(22)

1

In [45]:
# More arguments

nat = lambda name, nationality : f"{name} is {nationality}."

In [46]:
nat("James", "British")

'James is British.'

## `>>> Let's practice` 

1. Write a lambda function that counts all the B in a message, you can use the built-in function `.count()`
2. Recall the lambda function for the following messages:
   * "It's Peter Norvig!"
   * "Buon giorno, bom dia, good bye"
   * "Is Ben Ng the Andrew Ng's brother?"

In [5]:
count_B = lambda message: message.count('B')

In [6]:
count_B("Buon giorno, bom dia, good bye")

1

In [10]:
count_b = lambda message: message.lower().count('b')

In [11]:
count_b("Buon giorno, bom dia, good bye")

3