# BIG DIVE Intesa 3
## Introduction to Jupyter Notebook, Markdown, and Python.
by Stefania Delprete, TOP-IX  
stefania.delprete@top-ix.org 

https://www.linkedin.com/in/astrastefania   
https://twitter.com/astrastefania  

---

# Jupyter Notebooks

We will work with Markdown or Code (Python 3) cells.  
You can change the type of cell from the toolbar above in this Jupyter Notebook.

You can add, execute and remove cell with buttons on the toolbar, or click to **Help > Keyboard Shortcuts** to make your process faster.

# Markdown

To edit Markdown cells you can **double click on them** (including this one and the following ones).

Here https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet you can find a guide to learn more about Markdown text features and formatting methods.

### `>>> Let's practice` 

Add Markdown cells and practice the following by checking the [Markdown-Cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)
* Insert an H2 title
* Make an unordered list of three items
* Make an ordered list of four items
* Write some test including **bold** and *italic* words, some `code` or even greek letters in LaTeX like $\alpha$.


New default cell will be of type Code, remember to change them before you execute them.

---

# Python

When code cells are executed you can see a number on its left, this is useful to check the order of execution.  
You can make comment with a Python 3 Code cell using `#`.

In [1]:
# Comment out, take away the #, in the following line and run the cell.
# import this

In [2]:
# Variable assignment

variable_name = "Value associated"

In [3]:
# Built-in function to print the value of a variable

print(variable_name)

Value associated

In [4]:
# Each cell in the Jupyter Notebook works as the REPL (in the Terminal >>>)
#  and you can see the value of a variable simply recalling it. 

variable_name

'Value associated'

In [5]:
# Built-in function to see the type of variable

type_of_the_variable = type(variable_name)

In [6]:
print(type_of_the_variable)

<class 'str'>

In [7]:
type_of_the_variable

str

### You can't choose a keyword for a variable name!

In [8]:
import keyword # importing a library
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

We will learn the use of most of them.

---

## Mutable and immutable

### Immutable objects (buil-in types)

* str
* int
* float 
* bool 
* tuple

### Mutable (buil-in types)

* list
* dictionary
* set

---

## Type string and formatting

Strings are identified by Python interpreter by a text in quotes `"` or `'` (double or single quote character).

In [9]:
# Single (apostrophe) or double quotes within a string

print("I watched 'The Wolf of Wall Street' yesterday")
print('I watched "The Wolf of Wall Street" yesterday')

print("I watched \"The Wolf of Wall Street\" yesterday")
print('Actually yesterday I watched \'The Wolf of Wall Street\' four time!')

I watched 'The Wolf of Wall Street' yesterday
I watched "The Wolf of Wall Street" yesterday
I watched "The Wolf of Wall Street" yesterday
Actually yesterday I watched 'The Wolf of Wall Street' four time!

In [10]:
name = "John"
surname = 'Coltrane'

In [11]:
type(name), type(surname)

(str, str)

In [12]:
# You can access the characters by index (starting from zero)

name[0]

'J'

In [13]:
# Or access to the last one directly with -1

name[-1]

'n'

In [14]:
# Or a slice of it (the index mentioned as ending point is not included)

surname[2:5]

'ltr'

In [15]:
# Or from an index to the end, and from the start to an index 
print(surname[5:])
print(surname[:5])

ane
Coltr

### Different ways of formatting strings

In [16]:
# Concatenation of strings

name + " " + surname

'John Coltrane'

In [17]:
# Repeat a string

name * 4

'JohnJohnJohnJohn'

In [18]:
# % operator (%s string, %f float, &d digit/integer)

"His name is %s %s" %(name, surname)

'His name is John Coltrane'

In [19]:
# Built-in .format() function

"His name is {1}, {0} {1}!".format(name, surname)

'His name is Coltrane, John Coltrane!'

In [20]:
# f-string, since Python 3.6

f"His name is {name} {surname}!"

'His name is John Coltrane!'

### Escape Characters `\n, \"`

In [21]:
# Three quotes to define a multi-line string

answer = """
\"O Deep Thought computer,\" he said, 
\"the task we have designed 
you to perform is this. 
We want you to tell us....\" he paused, \"The Answer.\" 
"""

print(answer)

"O Deep Thought computer," he said,
"the task we have designed
you to perform is this.
We want you to tell us...." he paused, "The Answer."

In [22]:
infinito = "Sempre caro mi fu quest'ermo colle, \nE questa siepe, che da tanta parte \nDell'ultimo orizzonte il guardo esclude."

print(infinito)

Sempre caro mi fu quest'ermo colle,
E questa siepe, che da tanta parte
Dell'ultimo orizzonte il guardo esclude.

## Common methods on strings

In [23]:
# Counting recurrences of the same value, .count() is case sensitive
"Abracadabra".count("a")

4

In [24]:
"Abracadabra".find("a")

3

In [25]:
color = "gReen"

In [26]:
color_capital = color.capitalize()

In [27]:
color_capital

'Green'

### `>>> Let's practice` 

Try this other methods on a string assigning the new value to a new variable and check the output by recalling the variable as show in the example above.

* `.upper()`
* `.lower()`
* `.split()`, you can check the outcome will be a list (see list type below)
* `.isalpha()`, you can check the outcome will be a bool (see boolean type below)

In [28]:
# You can use help to see basi documentation on types or methods

help(color.capitalize) # you can recall the variable name

Help on built-in function capitalize:

capitalize(...) method of builtins.str instance
    S.capitalize() -> str

    Return a capitalized version of S, i.e. make the first character
    have upper case and the rest lower case.

In [29]:
help(str.upper) # or you can recall the object type

Help on method_descriptor:

upper(...)
    S.upper() -> str

    Return a copy of S converted to uppercase.

In [30]:
help("Hi there".split) # or you can recall the value itself

Help on built-in function split:

split(...) method of builtins.str instance
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

In [31]:
# You can use dir to see attributes and methods of a type of object

print(dir(str)) # also here you can recall value, variable name or obdject type

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

---

## Numeric types

Python recognise numbers without a decimal separator as integers (int). When a decimal point is included or operation with decimals are performed it recognised as a float.

In [32]:
type(3)

int

In [33]:
type(1.)

float

In [34]:
type(3.4)

float

In [35]:
type(1 + 6.7)

float

### Common numerical operations

In [36]:
3 + 4 - 2

5

In [37]:
4 * 3 # multiplication

12

In [38]:
11 / 5 # division

2.2

In [39]:
11 // 5 # only the integer part

2

In [40]:
11 % 5 # mod operation

1

In [41]:
3**2 # 3 to the power of 2

9

In [42]:
9**(1/2) # 3 to the power of 1/2 (square root)

3.0

## Formatting strings with numeric values

In [43]:
pi = 3.14159

In [44]:
"Pi value is approximately equal to " + str(pi)

'Pi value is approximately equal to 3.14159'

In [45]:
# You can choose how many decimals we want to display using %.2f for two decimals

"Pi value is approximately equal to %.2f." %pi

'Pi value is approximately equal to 3.14.'

In [46]:
f"Pi value is approximately equal to {pi}."

'Pi value is approximately equal to 3.14159.'

In [47]:
# Operation can be performed inside an f-string

print(f"8 divided by 3 is {8 // 3} with rest {8 % 3}.")

8 divided by 3 is 2 with rest 2.

---

# Lists, tuples, sets

**List** hold elements, also of diffent types, and are mutable objects.

In [48]:
# Creating an empty list

list0 = []

In [49]:
# Lists can hold elements of different types

random_list = [2.71, "€", True, "purple"]

In [50]:
# Like strings, you can access elements by index, first element has index 0

random_list[0]

2.71

In [51]:
# Last element can also be accessed with -1

random_list[-1]

'purple'

In [52]:
# Accessing letter of a string in a list

random_list[3][1] # access last element "purple", and then its second letter "u"

'u'

In [53]:
# Adding a new element at the end

random_list.append(9)
random_list

[2.71, '€', True, 'purple', 9]

In [54]:
# Pop out last element

random_list.pop()
random_list

[2.71, '€', True, 'purple']

In [55]:
# Insert by index

random_list.insert(1,'second element') 
random_list

[2.71, 'second element', '€', True, 'purple']

In [56]:
# Delete permanently an element by index

del random_list[0] # deleting the first element
random_list

['second element', '€', True, 'purple']

In [57]:
# Other list attributes and methods

print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

---

**Tuples** can hold elements, also of diffent types, and are immutable objects.

In [58]:
# Creating an empty tuple

tuple0 = ()

In [59]:
tuple1 = ("Spring", 21, 3, "sun")

In [60]:
tuple1[1] # accessing elements

21

In [61]:
# Other tuple attributes and methods

print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

---

**Sets** hold ordered and unique elements.

In [62]:
# Creating an empty set

set0 = set()

In [63]:
unique_set = {2,3,3,3,3,3,4,4,5,5,5,1}

In [64]:
unique_set

{1, 2, 3, 4, 5}

In [65]:
# You can generate sets starting from lists

a = [1,2,3,4,5,6]
seta = set(a) 

b = [4,5,6,7,8,9,100]
setb = set(b)

setc = {1, 4, 1, 1, 7, 100}

In [66]:
# Intersection

seta & setb

{4, 5, 6}

In [67]:
# Taking away intersection from the first set

seta - setb

{1, 2, 3}

In [68]:
# Union

seta | setb

{1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [69]:
# Union without their intersection

seta ^ setb

{1, 2, 3, 7, 8, 9, 100}

In [70]:
# Other set attributes and methods

print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

---

# Dictionaries

Dictionaries hold couples of keys and values, they can be thought as hash maps.

In [71]:
# Creating an empty disctioanry

dict0 = {}

In [72]:
dict1 = {"key1": "value1", # after the comma you can go to a new line or remain on the same one
         "key2": "value2", 
         "key3": "value3"}

In [73]:
dict1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [74]:
# You can access dictionary values with its keys

dict1['key1']

'value1'

In [75]:
# Access all couple of (key, value)

dict1.items()

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

In [76]:
# Or only its keys 

dict1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [77]:
# Or only its values

dict1.values()

dict_values(['value1', 'value2', 'value3'])

In [78]:
# You can add a new couple key, value

In [79]:
dict1["key4"] = "value4"

In [80]:
dict1

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [81]:
# Other dictionary attributes and methods

print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

---

# Bool and boolean operations

In [82]:
t = True

In [83]:
# Equal value

True == False

False

In [84]:
# Not equal value

True != False

True

In [85]:
# Less than '<', grater than '>', AND operator 'and'

4 < 5 and 6 > 10

False

In [86]:
# OR operator 'or'

4 < 5 or 6 > 10

True

In [87]:
# NOT operator 'not'

not True

False

---

## Conversion between types

### ...to str (string type)

In [88]:
# From int to str

str(3)

'3'

In [89]:
# From float to int

str(5.000001)

'5.000001'

### ...to numerical types

In [90]:
# From str to int

int("3")

3

In [91]:
# From float to int, notice it's just cutting the decimals without any rounding

int(3.9)

3

In [92]:
# Fron str to float

print(float("3.24"))
print(type(float("3.24")))

3.24
<class 'float'>

### ...to boolean types

In [93]:
# numeric zero or empty object are converted to False

bool(0), bool(""), bool([])

(False, False, False)

In [94]:
# Not-zero numbers and not-empty object are converted in True

bool(1), bool(1.4), bool("ciao"), bool([1, 4, "hola"])

(True, True, True, True)

### `>>> Let's practice`

1. Assign your name, surname and age to two variable `name`, `surname` and `age`. 
2. Print the string using one or more formatting methods indroducing yourself.
3. Calculate how many days you have 
3. Create a dictionaty with key "Name" and as value a list of 4 name (string type) and key "Salary" and as value a list of 4 salary (float type)