# BIG DIVE Intesa 3
## Extra material from questions and curiosities
by Stefania Delprete, TOP-IX  
stefania.delprete@top-ix.org 

https://www.linkedin.com/in/astrastefania   
https://twitter.com/astrastefania  

---

In [1]:
import pandas as pd

## Importing and exporting different files with pandas

Importing **csv** with **pd.read_csv()**  
Importing **JSON** with **pd.read_json()**  
Importing **excel** with **pd.read_excel()**  

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html  
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_excel.html  


## Exporting pandas DataFrames

Exporting in **csv**
`dataframe_name.to_csv('newfile_name.csv')`  
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html

Exporting in **JSON**, you can export by index, records or table  
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_json.html

Exporting in **excel**, using a writer for more sheets
`writer = pd.ExcelWriter('newfile_name.xlsx')
df1.to_excel(writer,'Sheet1')
df2.to_excel(writer,'Sheet1')
writer.save()`  
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_excel.html

---
Before we can use `.ExcelFile()` and `.sheet_names` to check the name of the sheet first.

In [3]:
meteo_xl = pd.ExcelFile('../../BDINTESA3/Data_science/data/meteo.xlsx')

In [4]:
meteo_xl.sheet_names

['carmagnola_pioggia', 'castagnetopo_pioggia', 'castagnetopo_temperatura']

In [5]:
# Parsing one sheet in a pandas DataFrame

carma_rain = meteo_xl.parse('carmagnola_pioggia')

In [6]:
carma_rain.head()

        data ora (UTC)  valore flag validazione
0 2018-11-01     01:00     5.0                Z
1 2018-11-01     02:00     3.4                Z
2 2018-11-01     03:00     2.4                Z
3 2018-11-01     04:00     1.8                Z
4 2018-11-01     05:00     3.4                Z

In [7]:
type(carma_rain)

pandas.core.frame.DataFrame

If you know the name of the sheet, you can use directly `.read_excel()`

In [9]:
casta_rain = pd.read_excel('../../BDINTESA3/Data_science/data/meteo.xlsx', sheet_name='castagnetopo_pioggia')

In [10]:
casta_rain.head()

        data ora (UTC)  valore flag validazione
0 2018-11-01     01:00     3.8                Z
1 2018-11-01     02:00     5.0                Z
2 2018-11-01     03:00     5.4                Z
3 2018-11-01     04:00     5.4                Z
4 2018-11-01     05:00     5.0                Z

---
## Exploring and merging

In [11]:
carma_rain.shape

(720, 4)

In [12]:
carma_rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 4 columns):
data                720 non-null datetime64[ns]
ora (UTC)           720 non-null object
valore              720 non-null float64
flag validazione    720 non-null object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 22.6+ KB

In [13]:
casta_rain.shape

(720, 4)

In [14]:
casta_rain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 4 columns):
data                720 non-null datetime64[ns]
ora (UTC)           720 non-null object
valore              720 non-null float64
flag validazione    720 non-null object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 22.6+ KB

You can use: 
* `.merge()` to merge DataFrames by a key column or indices 
* `.concat()` to append columns or rows
* `.join()` similar to merge, more based on indices 

Take care that you can find more ways to perform the same operation.
https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [15]:
# We can use merge directly, usins the indexes

rain_merge = pd.merge(carma_rain, casta_rain, left_index=True, right_index=True)
rain_merge.head()

,data_x,ora (UTC)_x,valore_x,flag validazione_x,data_y,ora (UTC)_y,valore_y,flag validazione_y
0,2018-11-01,01:00,5.0,Z,2018-11-01,01:00,3.8,Z
1,2018-11-01,02:00,3.4,Z,2018-11-01,02:00,5.0,Z
2,2018-11-01,03:00,2.4,Z,2018-11-01,03:00,5.4,Z
3,2018-11-01,04:00,1.8,Z,2018-11-01,04:00,5.4,Z
4,2018-11-01,05:00,3.4,Z,2018-11-01,05:00,5.0,Z

In [16]:
# We can merge by one key column (or more than one)

rain_merge_bytime = pd.merge(carma_rain, casta_rain, on=['data', 'ora (UTC)'])
rain_merge_bytime.head()

,data,ora (UTC),valore_x,flag validazione_x,valore_y,flag validazione_y
0,2018-11-01,01:00,5.0,Z,3.8,Z
1,2018-11-01,02:00,3.4,Z,5.0,Z
2,2018-11-01,03:00,2.4,Z,5.4,Z
3,2018-11-01,04:00,1.8,Z,5.4,Z
4,2018-11-01,05:00,3.4,Z,5.0,Z

In [17]:
# It's always better to prepare the DataFrame before

carma_rain['flag validazione'].unique()

array(['Z'], dtype=object)

In [18]:
casta_rain['flag validazione'].unique()

array(['Z', 'Y'], dtype=object)

In [19]:
casta_rain['flag validazione'].value_counts()

Z    712
Y      8
Name: flag validazione, dtype: int64

In [20]:
casta_rain.columns

Index(['data', 'ora (UTC)', 'valore', 'flag validazione'], dtype='object')

In [21]:
carma_rain.columns = ['data', 'ora (UTC)', 'carma_mm', 'carma_flag']
casta_rain.columns = ['data', 'ora (UTC)', 'casta_mm', 'casta_flag']

In [22]:
rain = pd.merge(carma_rain, casta_rain, on=['data', 'ora (UTC)'])
rain.head()

        data ora (UTC)  carma_mm carma_flag  casta_mm casta_flag
0 2018-11-01     01:00       5.0          Z       3.8          Z
1 2018-11-01     02:00       3.4          Z       5.0          Z
2 2018-11-01     03:00       2.4          Z       5.4          Z
3 2018-11-01     04:00       1.8          Z       5.4          Z
4 2018-11-01     05:00       3.4          Z       5.0          Z

In [23]:
rain.columns

Index(['data', 'ora (UTC)', 'carma_mm', 'carma_flag', 'casta_mm',
       'casta_flag'],
      dtype='object')

In [24]:
rain = rain[['data', 'ora (UTC)', 'carma_mm', 'casta_mm', 'carma_flag', 'casta_flag']]
rain.head()

        data ora (UTC)  carma_mm  casta_mm carma_flag casta_flag
0 2018-11-01     01:00       5.0       3.8          Z          Z
1 2018-11-01     02:00       3.4       5.0          Z          Z
2 2018-11-01     03:00       2.4       5.4          Z          Z
3 2018-11-01     04:00       1.8       5.4          Z          Z
4 2018-11-01     05:00       3.4       5.0          Z          Z

---

## Manage null values

In [25]:
from numpy import nan

In [26]:
rain.shape

(720, 6)

In [27]:
rain.casta_flag.value_counts(dropna=False)

Z    712
Y      8
Name: casta_flag, dtype: int64

In [28]:
rain_nan = rain.replace({'Y' : nan})

Checking null values

In [29]:
rain_nan.casta_flag.value_counts(dropna=False)

Z      712
NaN      8
Name: casta_flag, dtype: int64

In [30]:
rain_nan.isnull().sum()

data          0
ora (UTC)     0
carma_mm      0
casta_mm      0
carma_flag    0
casta_flag    8
dtype: int64

In [31]:
rain_nan[rain_nan.isnull().any(axis=1)]

          data ora (UTC)  carma_mm  casta_mm carma_flag casta_flag
451 2018-11-19     19:00       0.0       0.0          Z        NaN
452 2018-11-19     20:00       0.0       0.0          Z        NaN
453 2018-11-19     21:00       0.0       0.0          Z        NaN
454 2018-11-19     22:00       0.0       0.0          Z        NaN
455 2018-11-19     23:00       0.0       0.0          Z        NaN
456 2018-11-20     00:00       0.6       0.2          Z        NaN
457 2018-11-20     01:00       0.0       0.0          Z        NaN
458 2018-11-20     02:00       0.0       0.0          Z        NaN

We can use `.dropna()` to delete all the rows with NaN values

In [32]:
rain_new = rain_nan.dropna()

In [33]:
rain_new.shape

(712, 6)

We can also use `.fillna()` to change values of null values

In [34]:
rain_nan_ = rain_nan.fillna(0)

In [35]:
rain_nan_[rain_nan_.casta_flag == 0]

          data ora (UTC)  carma_mm  casta_mm carma_flag casta_flag
451 2018-11-19     19:00       0.0       0.0          Z          0
452 2018-11-19     20:00       0.0       0.0          Z          0
453 2018-11-19     21:00       0.0       0.0          Z          0
454 2018-11-19     22:00       0.0       0.0          Z          0
455 2018-11-19     23:00       0.0       0.0          Z          0
456 2018-11-20     00:00       0.6       0.2          Z          0
457 2018-11-20     01:00       0.0       0.0          Z          0
458 2018-11-20     02:00       0.0       0.0          Z          0

### Exporting in a csv

In [38]:
rain_new.to_csv('../../BDINTESA3/Data_science/data/rain_carma_casta.csv')

We can check if it's there...

In [53]:
!dir data

 Il volume nell'unità C è OS
 Numero di serie del volume: 4EC9-72DA

 Directory di C:\profili\U413635\Desktop\BIGDIVE\BIGDIVE_develop\Day3

File non trovato

...and check its content creating a list comprehension and using `strip()` to remove extra characters.

In [54]:
rain_list = [line.strip().split(',') for line in open('../../BDINTESA3/Data_science/data/rain_carma_casta.csv')]
rain_list[:10]​data

SyntaxError: invalid character in identifier (<ipython-input-54-b0792ed2e2fe>, line 2)

We can avoid saving the index

In [43]:
rain_new.to_csv('../../BDINTESA3/Data_science/data/rain_carma_casta.csv', index=False)

In [45]:
rain_list = [line.strip().split(',') for line in open('../../BDINTESA3/Data_science/data/rain_carma_casta.csv')]
rain_list[:10]

[['data', 'ora (UTC)', 'carma_mm', 'casta_mm', 'carma_flag', 'casta_flag'],
 ['2018-11-01', '01:00', '5.0', '3.8', 'Z', 'Z'],
 ['2018-11-01', '02:00', '3.4', '5.0', 'Z', 'Z'],
 ['2018-11-01', '03:00', '2.4', '5.4', 'Z', 'Z'],
 ['2018-11-01', '04:00', '1.8', '5.4', 'Z', 'Z'],
 ['2018-11-01', '05:00', '3.4', '5.0', 'Z', 'Z'],
 ['2018-11-01', '06:00', '2.2', '7.0', 'Z', 'Z'],
 ['2018-11-01', '07:00', '0.4', '1.8', 'Z', 'Z'],
 ['2018-11-01', '08:00', '0.0', '0.2', 'Z', 'Z'],
 ['2018-11-01', '09:00', '0.0', '0.0', 'Z', 'Z']]

---
### `>>> Let's practice` 
* Import the sheet 'castagnetopo_temperatura' from the excel file and save in a DataFrame 'casta_T'
* Prepare the DataFrames 'casta_rain' and 'casta_T, merge them in a new DataFrame 'casta'
* Drop again the rows with the flag 'Y'
* Export as a csv file called 'casta_meteo.csv'

In [50]:
casta_T = pd.read_excel('../../BDINTESA3/Data_science/data/meteo.xlsx', sheet_name='castagnetopo_temperatura')

In [51]:
casta_T.columns

Index(['data', 'ora (UTC)', 'valore', 'flag validazione'], dtype='object')

In [52]:
casta_rain.columns

Index(['data', 'ora (UTC)', 'casta_mm', 'casta_flag'], dtype='object')

In [56]:
casta = pd.merge(casta_T,casta_rain, on=['data','ora (UTC)'])

In [58]:
casta.casta_flag.value_counts(dropna=False)

Z    711
Y      8
Name: casta_flag, dtype: int64

In [60]:
casta_nan = casta.replace({'Y' : nan})

In [61]:
casta_new = casta_nan.dropna()

In [62]:
casta_new.shape

(711, 6)

In [63]:
casta_new.head()

        data ora (UTC)  valore  flag validazione  casta_mm casta_flag
0 2018-11-01     01:00     8.2                 0       3.8          Z
1 2018-11-01     02:00     8.3                 0       5.0          Z
2 2018-11-01     03:00     8.2                 0       5.4          Z
3 2018-11-01     04:00     8.2                 0       5.4          Z
4 2018-11-01     05:00     8.1                 0       5.0          Z

In [67]:
casta_new.to_csv('./export.csv',sep=';')

---

## Types and conversions

When recognised the data is directly imported in the DataFrame in a datetime format.

In [68]:
data1 = casta_rain.data[1]
data1

Timestamp('2018-11-01 00:00:00')

In [69]:
type(data1)

pandas._libs.tslibs.timestamps.Timestamp

In [70]:
data1.year

2018

In [71]:
data1.month

11

In [72]:
data1.day_name()

'Thursday'

In [73]:
data1.weekday() # Monday == 0 ... Sunday == 6

3

In [74]:
help(data1.weekday)

Help on built-in function weekday:

weekday(...) method of pandas._libs.tslibs.timestamps.Timestamp instance
    Return the day of the week represented by the date.
    Monday == 0 ... Sunday == 6

In [75]:
print(dir(data1))

['__add__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__pyx_vtable__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_date_attributes', '_date_repr', '_get_date_name_field', '_get_start_end_field', '_has_time_component', '_repr_base', '_round', '_short_repr', '_time_repr', 'asm8', 'astimezone', 'ceil', 'combine', 'ctime', 'date', 'day', 'day_name', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'dst', 'floor', 'fold', 'freq', 'freqstr', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'hour', 'is_leap_year', 'is_month_end', 'is_month_start', 'is_quarter_end', 'is_quarter_start', 'is_year_end', 'is_year_start', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'microsecond', 'min', 'minute', 'month', 'month_name', 'nanosecond', 'normalize', 'now', 'quarter', 'replace', 'resolution', 'round', 'second', 'strftime', 'strptime', 'time', 'timestamp', 'timetuple', 'timetz', 'to_datetime64', 'to_julian_date', 'to_period', 'to_pydatetime', 'today', 'toordinal', 'tz', 'tz_convert', 'tz_localize', 'tzinfo', 'tzname', 'utcfromtimestamp', 'utcnow', 'utcoffset', 'utctimetuple', 'value', 'week', 'weekday', 'weekday_name', 'weekofyear', 'year']

### We can force a type during the creation of a DataFrame...

In [76]:
rain = pd.read_csv('../../BDINTESA3/Data_science/data/rain_carma_casta.csv')

In [77]:
rain.head()

         data ora (UTC)  carma_mm  casta_mm carma_flag casta_flag
0  2018-11-01     01:00       5.0       3.8          Z          Z
1  2018-11-01     02:00       3.4       5.0          Z          Z
2  2018-11-01     03:00       2.4       5.4          Z          Z
3  2018-11-01     04:00       1.8       5.4          Z          Z
4  2018-11-01     05:00       3.4       5.0          Z          Z

In [78]:
rain.dtypes

data           object
ora (UTC)      object
carma_mm      float64
casta_mm      float64
carma_flag     object
casta_flag     object
dtype: object

In [79]:
rain = pd.read_csv('../../BDINTESA3/Data_science/data/rain_carma_casta.csv', dtype=str)

In [80]:
rain.dtypes

data          object
ora (UTC)     object
carma_mm      object
casta_mm      object
carma_flag    object
casta_flag    object
dtype: object

### ...or later with specific function or `astype()`

In [81]:
rain['data'] = pd.to_datetime(rain['data'])

In [82]:
rain.dtypes

data          datetime64[ns]
ora (UTC)             object
carma_mm              object
casta_mm              object
carma_flag            object
casta_flag            object
dtype: object

In [83]:
rain.head()

        data ora (UTC) carma_mm casta_mm carma_flag casta_flag
0 2018-11-01     01:00      5.0      3.8          Z          Z
1 2018-11-01     02:00      3.4      5.0          Z          Z
2 2018-11-01     03:00      2.4      5.4          Z          Z
3 2018-11-01     04:00      1.8      5.4          Z          Z
4 2018-11-01     05:00      3.4      5.0          Z          Z

In [84]:
rain.casta_mm = rain.casta_mm.astype('float')
rain.carma_mm = rain.casta_mm.astype('float')

In [85]:
rain.dtypes

data          datetime64[ns]
ora (UTC)             object
carma_mm             float64
casta_mm             float64
carma_flag            object
casta_flag            object
dtype: object

## Adding new columns

Using datetime and Pandas features

In [88]:
type(rain['week'])

pandas.core.series.Series

In [89]:
rain['week'] = rain['data'].dt.weekofyear

In [90]:
rain.head(3)

        data ora (UTC)  carma_mm  casta_mm carma_flag casta_flag  week
0 2018-11-01     01:00       3.8       3.8          Z          Z    44
1 2018-11-01     02:00       5.0       5.0          Z          Z    44
2 2018-11-01     03:00       5.4       5.4          Z          Z    44

In [91]:
rain.tail(3)

          data ora (UTC)  carma_mm  casta_mm carma_flag casta_flag  week
709 2018-11-30     21:00       0.0       0.0          Z          Z    48
710 2018-11-30     22:00       0.0       0.0          Z          Z    48
711 2018-11-30     23:00       0.0       0.0          Z          Z    48

In [92]:
rain.head(3)

        data ora (UTC)  carma_mm  casta_mm carma_flag casta_flag  week
0 2018-11-01     01:00       3.8       3.8          Z          Z    44
1 2018-11-01     02:00       5.0       5.0          Z          Z    44
2 2018-11-01     03:00       5.4       5.4          Z          Z    44

Using `lambda`

In [93]:
(# Checking operation on elements
(rain['carma_mm'][0] + rain['casta_mm'][0])/2)

3.8

In [94]:
rain['mean_mm'] = rain.apply(lambda df: (df['carma_mm'] + df['casta_mm'])/2, axis=1)

In [95]:
rain.head(3)

,data,ora (UTC),carma_mm,casta_mm,carma_flag,casta_flag,week,mean_mm
0,2018-11-01,01:00,3.8,3.8,Z,Z,44,3.8
1,2018-11-01,02:00,5.0,5.0,Z,Z,44,5.0
2,2018-11-01,03:00,5.4,5.4,Z,Z,44,5.4

In [96]:
# We can define the function to be applied

def light_rain(mm):
    if mm <= 1:
        return 'light rain'
    if mm > 1:
        return 'medium rain'

In [97]:
rain['mean_type'] = rain['mean_mm'].apply(lambda mm: light_rain(mm))

In [98]:
rain.head(3)

,data,ora (UTC),carma_mm,casta_mm,carma_flag,casta_flag,week,mean_mm,mean_type
0,2018-11-01,01:00,3.8,3.8,Z,Z,44,3.8,medium rain
1,2018-11-01,02:00,5.0,5.0,Z,Z,44,5.0,medium rain
2,2018-11-01,03:00,5.4,5.4,Z,Z,44,5.4,medium rain

In [99]:
rain.mean_type.value_counts()

light rain     678
medium rain     34
Name: mean_type, dtype: int64

Using a dictionary and `.map()`

In [100]:
no_rain = {0.0 : 'No rain'}

In [101]:
rain['carma_rain'] = rain['carma_mm'].map(no_rain)

In [102]:
rain.carma_rain.value_counts(dropna=False)

No rain    575
NaN        137
Name: carma_rain, dtype: int64

---
### `>>> Let's practice` 
* With a lambda function, create a new column called 'weekday' that provide the weekday for each row
* Group by the day of the week by the mean

In [117]:
rain.head()

,data,ora (UTC),carma_mm,casta_mm,carma_flag,casta_flag,week,mean_mm,mean_type,carma_rain
0,2018-11-01,01:00,3.8,3.8,Z,Z,44,3.8,medium rain,NaN
1,2018-11-01,02:00,5.0,5.0,Z,Z,44,5.0,medium rain,NaN
2,2018-11-01,03:00,5.4,5.4,Z,Z,44,5.4,medium rain,NaN
3,2018-11-01,04:00,5.4,5.4,Z,Z,44,5.4,medium rain,NaN
4,2018-11-01,05:00,5.0,5.0,Z,Z,44,5.0,medium rain,NaN

In [118]:
rain['weekday'] =  rain['data'].apply(lambda weekday: weekday.weekday())

In [119]:
rain.head()

,data,ora (UTC),carma_mm,casta_mm,carma_flag,casta_flag,week,mean_mm,mean_type,carma_rain,weekday
0,2018-11-01,01:00,3.8,3.8,Z,Z,44,3.8,medium rain,NaN,3
1,2018-11-01,02:00,5.0,5.0,Z,Z,44,5.0,medium rain,NaN,3
2,2018-11-01,03:00,5.4,5.4,Z,Z,44,5.4,medium rain,NaN,3
3,2018-11-01,04:00,5.4,5.4,Z,Z,44,5.4,medium rain,NaN,3
4,2018-11-01,05:00,5.0,5.0,Z,Z,44,5.0,medium rain,NaN,3