In [1]:
import pandas as pd
%pylab inline
from scipy import stats
import numpy as np

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('./HousingPrices2010.csv')

In [3]:
df.head()

    Price  Living.Area  Bedrooms  Bathrooms  Fireplaces  Age
0  142212         1982         3        1.0           0  133
1  134865         1676         3        1.5           1   14
2  118007         1694         3        2.0           1   15
3  138297         1800         2        1.0           2   49
4  129470         2088         3        1.0           1   29

In [4]:
df.shape

(1057, 6)

In [5]:
df_cut = df.dropna()

In [6]:
df_cut.shape

(1057, 6)

In [8]:
df.columns

Index(['Price', 'Living.Area', 'Bedrooms', 'Bathrooms', 'Fireplaces', 'Age'], dtype='object')

In [13]:
for i in df.columns:
    x = df[i]
    y = df['Price']
    slope, intercept, r_value, p_value, std_err = stats.linregress(x,y)
    print("r-squared:", r_value**2)

r-squared: 1.0
r-squared: 0.5755868981722778
r-squared: 0.21414246431812428
r-squared: 0.42187641777680857
r-squared: 0.2059408368616422
r-squared: 0.09039893994359949

In [14]:
import statsmodels.api as sm

In [46]:
X = df[['Living.Area', 'Bedrooms', 'Bathrooms', 'Fireplaces', 'Age']]
Y = df['Price']
# with statsmodels
X = sm.add_constant(X) # adding a constant
model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.605
Model:                            OLS   Adj. R-squared:                  0.603
Method:                 Least Squares   F-statistic:                     321.8
Date:                Tue, 16 Apr 2019   Prob (F-statistic):          5.18e-209
Time:                        12:18:26   Log-Likelihood:                -12904.
No. Observations:                1057   AIC:                         2.582e+04
Df Residuals:                    1051   BIC:                         2.585e+04
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const        1.571e+04   7311.427      2.149      0.032    1366.047    3.01e+04
Living.Area    73.4464      4.009     18.321      0.000      65.580      81.313
Bedrooms    -6361.3107   2749.503     -2.314      0.021   -1.18e+04    -966.172
Bathrooms    1.924e+04   3669.080      5.243      0.000     1.2e+04    2.64e+04
Fireplaces   9162.7912   3194.233      2.869      0.004    2894.991    1.54e+04
Age          -142.7395     48.276     -2.957      0.003    -237.468     -48.011
==============================================================================
Omnibus:                      549.723   Durbin-Watson:                   1.676
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7224.347
Skew:                           2.074   Prob(JB):                         0.00
Kurtosis:                      15.117   Cond. No.                     9.89e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.89e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [40]:
df.columns[1:3]

1
2
3
4
5

In [33]:
asd

array(['Price', 'Living.Area', 'Bedrooms', 'Bathrooms', 'Fireplaces',
       'Age'], dtype=object)